@import "responsive";
@import 'snews-palette';
@import 'constants';

.form-content {
  min-height: calc(100vh - $header-height * 2);
  background-color: map-get($elements-palette, BACKGROUND-GRAY);
}

.form-centered-input-field {
  display: block !important;
  margin: 0 auto;
  max-width: 30rem;
  padding: 0 2rem;
}

.form-clear-button-style {
  background-color: unset;
  border: unset;
  padding: 0;
  min-width: 10rem;
  height: 40px;
}

.form-button-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.form-input-field-svg {
  width: 90%;
  height: 90%;
  fill: map-get($elements-palette, GRAY);
}

.form-error-message {
  max-width: map-get($content-width, DESKTOP);
  margin: 2rem auto 0;
}

mat-form-field.form-white-input-field {
  .mdc-text-field {
    background-color: map-get($elements-palette, WHITE);
    border-radius: 4px;
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-width: 2px;
  }
}

mat-form-field.form-valid-field {
  .mdc-text-field--outlined .mdc-notched-outline__leading,
  .mdc-text-field--outlined .mdc-notched-outline__notch,
  .mdc-text-field--outlined .mdc-notched-outline__trailing
  {
    border-color: map-get($elements-palette, GREEN);
  }

}

