$content-width: (
  MOBILE: 425px,
  TABLET: 768px,
  LAPTOP: 960px,
  DESKTOP: 1280px,
);

$font-sizes: (
  MOBILE: 14px,
  TABLET: 14px,
  LAPTOP: 14px,
  DESKTOP: 16px,
);


@media screen and (width < map-get($content-width, MOBILE)) {
  html {
    font-size: map-get($font-sizes, MOBILE);
  }
}


@media screen and (width >= map-get($content-width, MOBILE)) {
  html {
    font-size: map-get($font-sizes, TABLET);
  }
}

@media screen and (width >= map-get($content-width, TABLET)) {
  html {
    font-size: map-get($font-sizes, TABLET);
  }
}

@media screen and (width >= map-get($content-width, LAPTOP)) {
  html {
    font-size: map-get($font-sizes, LAPTOP);
  }
}

@media screen and (width >= map-get($content-width, DESKTOP)) {
  html {
    font-size: map-get($font-sizes, DESKTOP);
  }
}
