//@import 'snews-palette';
//@import 'constants';
//@import "buttons";
@import "typography";
@import "responsive";
@import "form-styles";
@import "snackbar";


.always-on-top{
  position: relative;
  z-index: 1000;
}

.clickable {
  position: relative;
  z-index: 100;
}

.not-clickable {
  position: relative;
  z-index: -100;
}

.warning-label {
  display: block;
  margin: 2rem auto 0;
  max-width: map-get($content-width, DESKTOP);
}

.content {
  max-width: map-get($content-width, DESKTOP);
}

.centered {
  margin: 0 auto;
}

.content-background-gray {
  background-color: map-get($elements-palette, BACKGROUND-GRAY);
}

.content-background-green {
  background-color: map-get($elements-palette, BACKGROUND-GREEN);
}

html {
  scroll-behavior: smooth;
}

.component-loading-spinner {
  display: block;
  margin: 2rem 0;
}
