@use 'src/assets/styles/snews-palette' as palette;
@use 'src/assets/styles/responsive' as responsive;

@import "buttons";
@import "typography";
@import "responsive";


.always-on-top{
  position: relative;
  z-index: 1000;
}

.clickable {
  position: relative;
  z-index: 100;
}

.not-clickable {
  position: relative;
  z-index: -100;
}


html {
  scroll-behavior: smooth;
}

//body {
//  overflow-x: hidden;
//  overflow-y: scroll;
//  scroll-behavior: smooth;
//}
