<section class="more-news form-content">
  <h1>Всичко от {{categoryName}}</h1>

  <app-component-spinner
    class="component-loading-spinner"
    *ngIf="isLoading"></app-component-spinner>

  <div class="no-news"
  *ngIf="articles.length===0">
    <h2>{{noNews}}</h2>
  </div>

  <div class="results-wrapper">
    <app-article-overview
      class="article"
      *ngFor="let article of articles"
      [articleOverviewData]="article"
      [isSmallHeading]="true"></app-article-overview>
  </div>

  <div class="form-button-wrapper">
    <app-text-button
      class="more-news-button"
      (click)="onNavigate('/')"
      [buttonText]="'Начална страница'"></app-text-button>
  </div>
</section>
