@import 'src/assets/styles/snews-palette';
@import 'src/assets/styles/responsive';

.content {
  background-color: map-get($elements-palette, BACKGROUND-GRAY);
}

h1 {
  padding: 1rem 0;
}

.results-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 0 2rem;
  max-width: map-get($content-width, DESKTOP);
  margin: 0 auto;

  .article {
    max-width: 40%;
  }
}


@media screen and (width <= map-get($content-width, TABLET)) {
  .results-wrapper {
    flex-direction: column;
    flex-wrap: wrap;

    .article {
      max-width: unset;
    }
  }
}

.more-news-button {
  display: inline-block;
  padding: 2rem 0;
}

.no-news{
  padding: 2rem 0;
}

