<div class="content-background-green">
  <section class="heading-news">
    <h1 style="text-align: center">Водещите новини</h1>
    <app-component-spinner
    class="component-loading-spinner"
    *ngIf="isLoading"></app-component-spinner>
    <div class="heading-news-wrapper">
      <app-article-overview
        *ngFor="let article of articleOverviews.slice(0,6)"
        [articleOverviewData]="article"></app-article-overview>
    </div>
  </section>

  <section class="more-news">
    <h1>Още от деня</h1>
    <app-component-spinner
      class="component-loading-spinner"
      *ngIf="isLoading"></app-component-spinner>
    <div class="more-news-wrapper">
            <app-article-overview
              *ngFor="let article of articleOverviews.slice(6)"
              [articleOverviewData]="article"
              [isSmallHeading]="true"></app-article-overview>
    </div>

    <div class="more-news-button-wrapper">
      <app-text-button
        class="more-news-button"
        (click)="onNavigate('news/today')"
        [buttonText]="'Вижте всичко от деня'"></app-text-button>
    </div>
  </section>

</div>
