@use "src/assets/styles/snews-palette" as palette;

.wrapper {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  background-color: map-get(palette.$elements-palette, GREEN);
  overflow: hidden;

  div.svg-wrapper {
    padding: 0.5rem;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    svg {
      fill: map-get(palette.$elements-palette, WHITE);
      width: 100%;
      height: 100%;
    }
  }
}

@media (any-hover: hover) {
  .wrapper {
    transition: all 150ms ease-in-out;
    cursor: pointer;
  }

  .wrapper:hover {
    scale: 1.05;
  }
}
