<div class="content-background-gray">
  <article class="article">

    <div class="article-header">
      <h1>{{article.heading}}</h1>
      <h3>{{article.published | datetime}}</h3>
      <app-warning-label
        class="warning-label"
        *ngIf="isOldArticle"
        [warningText]="oldArticleWarning">
      </app-warning-label>
    </div>

    <div class="article-picture">
      <div class="img-wrapper">
        <img src="{{picturePath}}{{article.picture}}" alt="Article image">
        <p>Източник: {{article.pictureSource}}</p>
      </div>
    </div>

    <div class="article">
      <p *ngFor="let paragraph of article.content">{{paragraph}}</p>
      <p class="article-author"
         *ngIf="currentUser">Автор: {{article.author}}</p>
    </div>

    <div class="unregistered-user"
    *ngIf="!currentUser">
      <h2>Благодаря, че четете SNews!</h2>
<!--      todo DRY candidate - links should come from a central place-->
      <p>За да прочетете цялата статия, моля <a routerLink="/user/login"><strong>влезте</strong></a> или се <a routerLink="/user/register"><strong>регистрирайте</strong></a>.</p>
    </div>

    <div class="article-footer">
      <p>Категория:</p>
      <ul role="list">
        <li *ngFor="let tag of articleTags; last as isLast">
          <a routerLink="{{tag.href}}"
             class="clickable"
          >{{tag.tag}}</a>
          <p *ngIf="!isLast">, &nbsp;</p>
        </li>
      </ul>

<!--      TODO enable comments after module completion-->
      <div class="form-button-wrapper">
        <app-text-button
          class="button"
          [href]="'comments'"
          [buttonText]="'Коментари'"
          [isDisabled]="true"
        ></app-text-button>
      </div>
    </div>
  </article>

  <section class="more-news content-background-green">
    <h1 style="text-align: center">Още по темата</h1>
    <div class="more-news-wrapper">
      <app-article-overview
        *ngFor="let data of relatedArticles"
        [isSmallHeading]="true"
        [articleOverviewData]=data>
      </app-article-overview>
    </div>
  </section>
</div>
