<app-fullscreen-spinner *ngIf="isLoading"></app-fullscreen-spinner>
<h2>Моля въведете настоящата си парола</h2>
<form
  [formGroup]="verifyForm"
  (submit)="onSubmit()">
  <!--todo fix classes-->
  <mat-form-field appearance="outline"
                  class="form-centered-input-field
                           form-white-input-field">
    <mat-label>Парола</mat-label>
    <input matInput
           [type]="isPasswordHidden ? 'password' : 'text'"
           formControlName="password">

    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="isPasswordHidden = !isPasswordHidden"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="isPasswordHidden">
      <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <app-warning-label
    class="warning"
    *ngIf="hasBadCredentials"
    [warningText]="'Въведената парола е невалидна.'">
  </app-warning-label>

  <div class="buttons">
    <div class="form-button-wrapper">
      <button
        type="submit"
        [disabled]="isConfirmDisabled"
        class="clickable form-clear-button-style">
        <app-text-button
          [buttonText]="'Потвърди'"
          [isDisabled]="isConfirmDisabled">
        </app-text-button>
      </button>
    </div>

    <app-text-button
      class="button centered"
      (click)="onNoClick()"
      [buttonText]="'Отказ'">
    </app-text-button>
  </div>

</form>
