@import 'user-panel-shared.component';

.credential-form {
  display: flex;
  flex-direction: column;
}


.credentials {
  margin: 0 0.75rem 0;
}

.change-credentials-buttons-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;

  .button {
    max-width: 140px;
  }
}

@media screen and (width >= calc(map-get($content-width,MOBILE)) + 224px) {
  .credentials {
    width: 40%;
  }
}

.form-buttons {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (width >= 735px) {
  .form-buttons {
    justify-content: space-around;
  }
}

.extra-space-error {
  margin-top: 2rem;
}
