@import 'src/assets/styles/snews-palette';
@import 'src/assets/styles/responsive';

h1 {
  padding-top: 1rem;
}

.content {
  max-width: map-get($content-width, DESKTOP);
}

.flex-divider {
  width: 2px;
  background-color: map-get($elements-palette, GREEN);
}

@media screen and (width< calc(map-get($content-width, MOBILE)) + 224px) {
  .flex-divider {
    width: 100%;
    height: 2px;
  }
}
