@import 'user-panel-shared.component';

.credential-form {
  display: flex;
  flex-direction: column;
}

.credential-field {
  padding-top: 2rem;
}

//.credential-section {
//  border-top: 2px solid map-get($elements-palette,GREEN);
//  border-bottom: 2px solid map-get($elements-palette,GREEN);
//}

.edit-credential-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.credentials {
  margin: 0 0.75rem 0;
}
.change-credentials-buttons-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;

  .button {
    max-width: 140px;
  }
}

@media screen and (width >= calc(map-get($content-width,MOBILE)) + 224px) {
  .credentials {
    width: 40%;
  }
  .change-credentials-buttons-wrapper {
    flex-direction: column;
  }
}

.credentials-section {
  //width: 30%;
}
