@import 'src/assets/styles/responsive';
@import 'src/assets/styles/snews-palette';

h1 {
  padding-top: 2rem;
}

.controls {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;

  app-user-panel-avatar {
    padding-left: 1rem;
    padding-right: 1rem;
    justify-self: center;
  }
}

.credentials {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .credential-fields {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: 2rem;
  }
}

@media screen and (width >= map-get($content-width,TABLET)) {
  .controls {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  app-user-panel-avatar {
    max-width: 300px;
    width: 300px;
    min-width: 300px;
    padding-left: 1rem;
  }

}

.full-width {
  width: 100%;
}

.flex-divider {
  width: 2px;
  background-color: map-get($elements-palette, GREEN);
}

@media screen and (width< calc(map-get($content-width, TABLET)) + 0px) {
  .flex-divider {
    width: 100%;
    height: 2px;
  }
}
