@import 'src/assets/styles/responsive';

.button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  transition: all 200ms ease-in-out;
}

.button {
  min-width: 10rem;
  height: 40px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.input-field {
  width: 100%;
  padding: 0 1rem;
  transition: all 200ms ease-in-out;
  margin-top: 1rem;
}

.error-padding {
  padding-top: 1.5rem;
}

.form-buttons {
  align-self: start;
}

@media screen and (width >= calc( map-get($content-width,MOBILE)) + 96px) {
  .hidden {
    display: block;
  }

  .form {
    display: flex;
    flex-direction: row;
    align-items: center;

    .input-field {
      max-width: 860px;
    }

    .error-padding {
      padding-top: unset;
    }

    .error-margin {
      margin-bottom: 0;
    }

    .centered {
      margin-left: 0;
    }

    .form-buttons {
      margin-top: 1rem;
    }
  }
}
