<ng-container *ngIf="isVisible">
<form
  [formGroup]="changePasswordForm"
  (submit)="onPasswordChange()"
  [ngClass]=""
  class="form">
  <mat-form-field appearance="outline"
                  class="form-white-input-field
                  input-field
                  hidden
                  error-margin"
                  [ngClass]="{
                  'form-valid-field':changePasswordForm.controls.password.valid,
                   'visible':isChangePasswordFormVisible,
                   'error-margin':!isValidForm && changePasswordForm.controls.password.touched}">
    <mat-label>Парола</mat-label>
    <mat-error>{{passwordErrorMessage}}</mat-error>
    <input matInput
           placeholder="Малки и главни букви, цифри"
           type="password"
           formControlName="password"
           autocomplete="new-password">
    <mat-icon
      matSuffix
      mat-icon-button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        class="form-input-field-svg">
        <path
          d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"/>
      </svg>
    </mat-icon>
  </mat-form-field>

  <div class="form-buttons">
    <div class="button-wrapper"
         [ngClass]="{'error-padding':!isValidForm && changePasswordForm.controls.password.touched}"
         *ngIf="isChangePasswordFormVisible">

      <button
        type="submit"
        [disabled]="!isValidForm"
        class="clickable form-clear-button-style centered">
        <app-text-button
          [buttonText]="'Промяна'"
          [isDisabled]="!isValidForm">
        </app-text-button>
      </button>

      <app-text-button
        [buttonText]="'Отказ'"
        class="centered button"
        (click)="onPasswordChangeCancel()"
      ></app-text-button>
    </div>

    <div class="button-wrapper centered" *ngIf="!isChangePasswordFormVisible">
      <app-text-button
        class="centered button change-button"
        [buttonText]="'Промяна на парола'"
        (click)="onPasswordEdit()"
      ></app-text-button>
    </div>
  </div>
</form>
</ng-container>
