<div class="content">
  <a class="large-tile clickable"
     [ngClass]="{'large-tile':!isSmallHeading,'small-tile':isSmallHeading}"
     routerLink="{{articleOverviewData.href}}">
    <div class="thumbnail">
      <img src="{{thumbnailPath}}{{articleOverviewData.thumbnailUrl}}" alt="Article thumbnail">
      <h3>{{articleOverviewData.published | datetime}}</h3>
    </div>
    <div class="headings">
      <h2 class="clickable">{{articleOverviewData.heading}}</h2>
      <h3>{{articleOverviewData.published | datetime}}</h3>
    </div>
  </a>
</div>
