@import 'src/assets/styles/snews-palette';
@import 'src/assets/styles/responsive';

.warning {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: map-get($elements-palette, WARNING);
  min-height: 2.5rem;

  p {
    width: 100%;
    text-align: center;
    color: map-get($elements-palette, WHITE);
  }
}

@media screen and (width >  map-get($content-width, DESKTOP)) {
  .warning {
    border-radius: 5px;
  }
}
