<form
  [formGroup]="searchForm"
  (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="form-white-input-field">
    <mat-label>Търсене</mat-label>
    <input matInput placeholder="Въведете цялото или част от потребителско име"
           formControlName="searchField"
           #searchField
           name="searchField">
    <button type="submit"
            matSuffix
            mat-icon-button>
      <mat-icon>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
        </svg>
      </mat-icon>
    </button>
  </mat-form-field>
</form>

<app-warning-label
  [warningText]="'Моля въведете поне 3 символа.'"
  *ngIf="isQueryTooShort"></app-warning-label>

<app-component-spinner *ngIf="isLoading"></app-component-spinner>

<div class="results">
  <app-user-summary
    *ngFor="let user of users"
    [data]="user"
  ></app-user-summary>
</div>

<div class="no-results"
     *ngIf="users.length==0 && lastQuery && !isQueryTooShort && !isLoading">
  <h2>Няма открити потребители за "{{lastQuery}}"</h2>
</div>
